@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
.header {
    background-color: rgba(255, 144, 14, 0.1);
}
/* header */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titel {
    color: #131313;
    font-size: 3rem;
    font-weight: bold;
}
.nav-var {
    display: flex;
}
.nav-li {
    list-style: none;
    margin-right: 30px;
}
.nav-a {
    color: #424242;
    text-decoration: none;
}
.nav, .banner {
    max-width: 1150px;
    margin: 0 auto;
}
/* Banner */
.banner {

}
.form {
    text-align: center;
    /* width: 866px; */
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.banner-titel {
    font-size: 4rem;
}
.button-primary {
    color: aliceblue;
    background-color: rgba(255, 144, 14, 1);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25rem;
    border: none;
}
.button-primary:hover {
    color: #131313;
    background-color: chartreuse;
}
.image > img {
    width: 100%;
    border-radius: 10px;
}
/* Main */

/* section 1 */
main > section {
    margin-top: 100px;
}
main {
    max-width: 1150px;
    margin: 0 auto;
}
.temes {
    display: flex;
    align-items: center;
}
.time-img-continer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.our-features {
    margin-left: 100px;
    width: 530px;
}
.futurs-titel {
    font-size: 45px;
}
.fuature-descripton {
    font-size: 16px;
}
#part1 {
    color: #727272;
}
#part2 {
    color: #131313;
}
#part3 {
    color: #FF900E;
}












/* section 3 */
.section-titel {
    font-size: 45px;
    color: #131313;
    font-weight: bold;
    margin-bottom: 20px;
}
.sectionp {
    color: #727272;
    margin-top: 5px;
    margin-bottom: 100px;
    width: 540px;
}
.facts-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.fact {
    border-radius: 5px;
    border: solid 2px #FF900E;
    width: 180px;
    height: 130px;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.fact-number {
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    margin-top: 5px;
    margin-bottom: 10px;
}
/* section 4 */
.section-box {
    margin: 0 auto;
    text-align: center;
}
.section-pp {
    color: #727272;
}
.imag-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.imag-box > img {
    width: 140px;
    height: 40px;
    filter: grayscale(100%);
}















@media screen and (max-width: 576px) {
    .nav,
    .temes
     {
        flex-direction: column;
    }
    .time-img-continer {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features {
        width: 100%;
        margin: 0 auto;
    }
    .facts-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .sectionp {
        width: 100%;
    }
    .imag-box {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }
}
@media screen and (min-width: 576px) and (max-width: 1000px) {
    .temes {
        flex-direction: column;
    }
    .imag-box {
        grid-template-columns: repeat(3, 1fr);
    }
}
